@charset "utf-8";
ol,ul {
	list-style: none
}

fieldset,img {
	border: 0
}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {
	font-style: inherit;
	font-weight: normal
}
q:before,q:after {
	content: ''
}
.cb {
	clear: both;
	height: 0;
	overflow: hidden
}
.cb:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}
.cb {
	zoom: 1
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0
}
.loading48 {
	display: block;
	width: 100%;
	height: 100%;
	background: url("images/loading48.gif") no-repeat center center
}

.nll_ul_logo a.nav_custom,.nll_ul_logo a.nav_custom:link,.nll_ul_logo a.nav_custom:visited {
	border: 0;
	padding: 4px 0 4px 53px;
	margin: 0
}
.nav li.nav_right {
	float: right;
	font-size: 14px
}

.nav li.nav_right a,.nav li.nav_right a:link,.nav li.nav_right a:visited {
	padding: 0 16px;
	background: none
}

.nav li.nav_right a:hover {
	text-decoration: underline
}

.nav li.nav_right a:active {
	color: #fff;
	text-decoration: none
}

.layout {
	overflow: hidden;
	min-width: 1210px
}
.nll_ul_all {
	display: none;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 210px;
	width: 600px;
	height: 331px;
	border: 1px solid #e5e5e5;
	border-left: 0;
	background: #fff;
	padding: 0 35px 18px 24px;
	min-height: 58px
}

.nll_ul_all h3,.nll_ul_all .nll_ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	line-height: 20px;
	padding: 22px 0 0 0
}

.nll_ul_all .nll_ul {
	width: 510px
}

.nll_ul_all .nll_ul li {
	border: none;
	height: 20px;
	*height: 25px
}

.nll_ul_all h3 {
	width: 70px;
	color: #9c9c9c;
	font-size: 14px
}

.nll_ul_all li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 0
}

.nll_ul_all a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 12px;
	padding: 0 12px;
	border-left: 1px solid #ccc;
	line-height: 12px;
	margin-top: 5px;
	*height: 20px;
	*line-height: 20px
}

.nll_ul_logo {
	padding-left: 0;
	padding-right: 0;
	width: 183px
}

.banner_all,.banner {
	position: relative;
	z-index: 1;
	height: 350px;
	overflow: hidden
}

.main {
	position: relative;
	padding-bottom: 60px;
	width: 1210px;
	margin: 0 auto
}

.main_nav {
	height: 40px;
	line-height: 40px
}

.main_nav p,.main_nav a {
	display: inline;
	padding: 0 10px
}
.module_h2 {
	float: left;
	height: 48px;
	line-height: 48px;
	font-size: 16px
}
.module_h2 a:hover {
	 color: #ff3c00;
	 text-decoration: none;
	cursor: pointer;
}
.module_h2 a:-webkit-any-link {
	color: -webkit-link;
	cursor: pointer;
	text-decoration: underline;
}
.module_tag {
	float: right;
	line-height: 42px
}
.module_tag a {
	margin: 0 0 0 24px
}
.module_tag a:-webkit-any-link,.module_tag a:hover  {
	cursor: pointer;
	text-decoration: underline;
}
.module {
	position: relative;
	left: -5px;
	width: 1200px
}
.muban_1,.muban_2page,.muban_3 {
	display: block;
	float: left
}

.muban_1,.muban_2,.muban_3 {
	position: relative;
	display: block;
	margin: 5px;
	_margin: 5px 5px 5px 3px
}

.muban_hover {
	z-index: 5
}

.muban_hover .module_hover {
	display: block
}

.module_hover {
	display: none;
	position: absolute;
	z-index: 3;
	top: -10px;
	left: 0;
	bottom: -90px;
	right: 0;
	border: 1px solid #e5e3e1;
	box-shadow: 0 0 2px #eee;
	background: #fff
}

a.module_hover_link {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	bottom: 97px;
	right: 0
}

.muban_1 {
	width: 470px;
	height: 332px
}

.muban_2page {
	height: 342px;
	width: 240px
}

.muban_2 {
	width: 230px;
	height: 161px;
	display: block;
	margin-bottom: 12px
}

a.muban_2,a.muban_2:link,a.muban_2:active,a.muban_2:visited {
	margin-bottom: 10px
}

.muban_3 {
	width: 230px;
	height: 332px
}

.muban_info {
	position: relative;
	display: block;
	float: left;
	width: 230px;
	height: 332px;
	margin: 5px;
	_margin: 5px 5px 5px 3px;
	background: #f7f7f7
}

.muban_info img {
	width: 230px;
	height: 163px
}

.muban_info p {
	padding-left: 15px
}

.mi_price {
	color: #ff3c00;
	font-size: 18px;
	line-height: 55px
}

.mi_num {
	font-size: 30px
}

.mi_delect {
	text-decoration: line-through;
	font-size: 14px
}

.mi_h3 {
	font-size: 16px;
	line-height: 25px
}
.module2 {
	width: 1210px
}

.moudle_class {
	float: left;
	width: 426px;
	height: 340px;
	box-shadow: 0 1px 5px rgba(4,0,0,.1);
	border: 1px solid #e5e5e5;
	margin-right: 19px;
	_margin-right: 10px;
	padding: 10px 19px
}

.ms_ul_h3 {
	font-size: 16px;
	line-height: 32px;
	height: 32px
}

.ms_ul_h3>a {
	cursor: default
}

.moudle_class_groom {
	display: block;
	width: 382px;
	height: 144px;
	overflow: hidden;
	position: relative
}

.moudle_class_groom img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto
}

.moudle_class_groom__ad {
	background: url("/images/loading48.gif") no-repeat center center
}

.ms_ul {
	line-height: 30px
}

.ms_ul li {
	width: 361px;
	padding-left: 25px;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap
}

.muban_1,.muban_2,.muban_3 {
	position: relative
}

.muban_1 img,.muban_2 img,.muban_3 img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto
}

.module2 .ml_content_main {
	width: 1210px;
	background: #f7f7f7;
	padding: 5px 0 20px;
	box-shadow: 0 1px 5px rgba(4,0,0,.1);
	border: 1px solid #e5e5e5;
}

.module2 .ml_content_main_ppt li {
	height: 168px;
	margin: 17px 14px 5px;
	_margin: 17px 14px 5px 9px
}

.module2 .ml_content_main_ppt li.find_auther {
	border: 1px solid #e1e1e1;
	background: #fff;
	padding: 5px;
	margin: 17px 8px 5px
}

.module2 .ml_content_main_ppt li.find_auther_hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.2)
}

.module2 .ml_content_main_word li {
	height: 200px;
	margin: 12px 22px 10px;
	_margin: 12px 20px 10px
}


.module2 .ml_content_main_word .mcm_show {
	padding-top: 276px
}

.find_auther a.collected,.find_auther a.collected:link,.find_auther a.collected:visited,.find_auther a.collected:active,.find_auther a.collected:hover {
	cursor: default;
	background-position: -282px -1260px
}

.find_auther_hover a.collect,.find_auther_hover a.collect:link,.find_auther_hover a.collect:visited,.find_auther_hover a.collect:active {
	display: block
}

.index_auther_img,.index_auther_name,.index_auther_works {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle
}

.index_auther_img {
	position: relative;
	z-index: 2;
	top: -10px;
	margin-left: 5px
}

.index_auther_img img {
	width: 34px;
	height: 34px;
	border: 2px solid #fff
}

.index_auther_name,.index_auther_works {
	margin: 0 5px
}

.index_auther_name {
	width: 110px;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap
}

a.index_auther_works {
	color: #999
}

a.muban_link {
	display: block;
	width: 100%;
	height: 332px;
	z-index: 4;
	overflow: hidden
}

.module_hover_info {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	background: #fff;
	padding: 5px 0 10px 20px;
	line-height: 25px
}

.module_hover_info .gray {
	display: block;
	float: left;
	width: 66px;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 5px
}

a.muban_collect:hover {
	background-color: #6c6a6a
}

a.muban_collect:active {
	background: #5d5d5d
}

.muban_1 .module_hover_info {
	padding-left: 40px
}

.muban_1 a.muban_add_car,.muban_1 a.muban_add_car:link,.muban_1 a.muban_add_car:visited {
	width: 170px;
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	margin-right: 53px
}

.muban_1 a.muban_collect,.muban_1 a.muban_collect:link,.muban_1 a.muban_collect:visited {
	width: 140px;
	height: 32px;
	padding-left: 30px;
	line-height: 32px;
	font-size: 18px;
	background-position: -230px -1944px
}

.muban_1 .muban_title_price {
	padding-right: 40px
}

.muban_1 .module_hover {
	top: 0;
	bottom: 0
}

.muban_2 .module_hover_info,.muban_3 .module_hover_info {
	padding-left: 15px
}

.muban_2 a.muban_add_car,.muban_3 a.muban_add_car,.muban_2 a.muban_add_car:link,.muban_3 a.muban_add_car:link,.muban_2 a.muban_add_car:visited,.muban_3 a.muban_add_car:visited {
	width: 88px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	margin-right: 20px
}

.muban_2 a.muban_collect,.muban_3 a.muban_collect,.muban_2 a.muban_collect:link,.muban_3 a.muban_collect:link,.muban_2 a.muban_collect:visited,.muban_3 a.muban_collect:visited,.muban_2 a.download,.muban_3 a.download,.muban_2 a.download:link,.muban_3 a.download:link,.muban_2 a.download:visited,.muban_3 a.download:visited {
	width: 68px;
	height: 24px;
	padding-left: 20px;
	line-height: 24px;
	font-size: 12px;
	background-position: -260px -1230px
}

.muban_2 .muban_title_price,.muban_3 .muban_title_price {
	padding-right: 15px
}

.dr_right {
	float: left;
	width: 320px;
	border: 1px solid #e5e5e5;
	overflow: hidden
}

.hot_doc {
	background: #fcfcfc
}

.hot_doc_title {
	width: 320px;
	overflow: hidden
}

.hot_doc_title a,.hot_doc_title a:link,.hot_doc_title a:visited {
	display: block;
	float: left;
	width: 160px;
	height: 40px;
	line-height: 40px;
	background: #f4f4f4;
	font-size: 14px;
	color: #232323;
	text-align: center
}

.hot_doc_title a:hover {
	color: #fc3358;
	text-decoration: none
}

.hot_doc_title a:active,.hot_doc_title a.active:link,.hot_doc_title a.active,.hot_doc_title a.active:visited,.hot_doc_title a.active:hover,.hot_doc_title a.active:active {
	color: #232323;
	background: #fcfcfc
}


ul.hot_doc_ul {
	float: none;
	height: auto;
	padding: 10px 10px 10px 32px
}

ul.hot_doc_ul li {
	float: none;
	width: 264px;
	height: 30px;
	line-height: 30px;
	margin: 0
}
.main_list {
	border-top: 1px solid #e3e3e3
}

.ml_list {
	line-height: 32px;
	border-bottom: 1px dashed #e3e3e3
}

.ml_list a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: 32px
}

.ml_list .mlt_link {
	height: 32px
}

.ml_list .mlt_link_more {
	height: auto;
	overflow: hidden
}

.mlt_btn {
	float: left;
	vertical-align: middle;
	line-height: 32px;
	height: 32px
}

.mlt_btn a {
	margin-top: 6px
}

.mlt_btn a.mlt_btn1_more,.mlt_btn a.mlt_btn1_more:link,.mlt_btn a.mlt_btn1_more:visited,.mlt_btn a.mlt_btn1_more:hover,.mlt_btn a.mlt_btn1_more:active {
	color: #ff3c00;
	background-position: -280px -960px
}

.mlt_btn a.mlt_btn2:hover,.mlt_btn a.mlt_btn2:active {
	background-position: -225px -980px;
	border-color: #ff3c00;
	color: #ff3c00;
	background-color: #fff
}

.ml_content_top {
	display: block;
	height: 30px;
	line-height: 30px;
	background: #f5f5f5;
	margin-bottom: 20px;
	padding-right: 25px
}

.ml_content_top li,.ml_content_top a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	float: left
}

.ml_content_top a.active,.ml_content_top a.active:link,.ml_content_top a.active:visited,.ml_content_top a.active:active,.ml_content_top a.active:hover {
	background-color: #ebe8e8;
	cursor: default;
	color: #595959;
	background-position: 48px -180px
}

.ml_content_top li.mlc_right {
	float: right;
	padding: 0 5px
}

.ml_content_top li.mlc_right a {
	background: none;
	padding: 0
}

.ml_content_top li.mlc_right a.active {
	color: #ff3c00;
	background: none
}

.ml_content_main {
	width: 1242px
}

.ml_content_main li {
	position: relative;
	display: block;
	float: left;
	z-index: 1
}

.ml_content_main .loading {
	width: 100%;
	height: 400px;
	background: url("/images/loading48.gif") no-repeat center center
}

li.hover {
	z-index: 2
}

li.hover .mcm_show {
	display: block
}
a.mcm_img {
	display: block;
	position: relative;
	text-align: center;
	overflow: hidden
}

a.mcm_img img {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	max-width: 210px
}


a.mcm_title {
	display: inline-block;
	vertical-align: middle;
	height: 25px;
	line-height: 25px;
	margin-top: 10px;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap
}

.mcm_title_price {
	display: block;
	float: left;
	width: 60px;
	margin-right: 5px
}

.mcm_show {
	display: none;
	position: absolute;
	border: 1px solid #e1e1e1;
	line-height: 25px;
	z-index: -1;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.2)
}

.mcm_show a.download:hover {
	background-color: #ee3800
}

.mcm_show p {
	height: 25px
}

.mcm_show .gray {
	display: block;
	float: left;
	padding: 0 5px 0 0;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap
}

.ml_content_main_word li {
	width: 153px;
	height: 263px;
	margin: 12px 54px 10px 0
}

.ml_content_main_word a.mcm_img {
	width: 153px;
	height: 150px;
	border: 1px solid #e5e5e5
}

.ml_content_main_word a.mcm_img img {
	max-width: 153px
}

.ml_content_main_word a.mcm_title {
	width: 153px
}

.ml_content_main_word .mcm_show {
	top: -15px;
	left: -8px;
	width: 151px;
	padding: 256px 8px 8px
}

.ml_content_main_word .mcm_show a.add_car {
	width: 71px
}

.ml_content_main_word .mcm_show a.download,.ml_content_main_word .mcm_show a.download:link,.ml_content_main_word .mcm_show a.download:visited,.ml_content_main_word .mcm_show a.download:active {
	width: 50px;
	background-position: -270px -1196px
}

.ml_content_main_word .mcm_show .gray {
	width: 70px;
	padding: 0
}

.ml_content_main_img li {
	width: 230px;
	margin: 12px 10px 10px 0
}

.ml_content_main_img a.mcm_img {
	width: 230px;
	height: 230px
}

.ml_content_main_img a.mcm_img img {
	max-width: 230px
}

.ml_content_main_img a.mcm_title {
	width: 230px
}

.ml_content_main_img .mcm_show {
	top: -15px;
	left: -6px;
	width: 230px;
	padding: 276px 5px 8px 5px
}

.ml_content_main_img .mcm_show a.add_car {
	width: 110px
}

.ml_content_main_img .mcm_show a.download,.ml_content_main_img .mcm_show a.download:link,.ml_content_main_img .mcm_show a.download:visited,.ml_content_main_img .mcm_show a.download:active {
	width: 90px;
	background-position: -255px -1196px
}

.ml_content_main_img .mcm_show .gray {
	width: 100px
}

.ml_content_main_img .mcm_show a.yulan,.ml_content_main_img .mcm_show a.yulan:link,.ml_content_main_img .mcm_show a.yulan:visited,.ml_content_main_img .mcm_show a.yulan:hover,.ml_content_main_img .mcm_show a.yulan:active {
	background-image: none;
	padding-left: 0;
	width: 110px
}

.ml_content_main_ppt li {
	width: 210px;
	height: 188px;
	margin: 12px 35px 10px 0
}

.ml_content_main_ppt a.mcm_img {
	width: 210px;
	height: 133px
}

.ml_content_main_ppt a.mcm_title {
	width: 210px
}

.ml_content_main_ppt .mcm_show {
	top: -15px;
	left: -6px;
	width: 210px;
	padding: 181px 5px 8px 5px
}

.ml_content_main_ppt .mcm_show a.add_car {
	width: 100px
}

.ml_content_main_ppt .mcm_show a.download,.ml_content_main_ppt .mcm_show a.download:link,.ml_content_main_ppt .mcm_show a.download:visited,.ml_content_main_ppt .mcm_show a.download:active {
	width: 80px;
	background-position: -255px -1196px
}

.ml_content_main_ppt .mcm_show .gray {
	width: 90px
}

